.user-page {
    display: grid;
    place-content: center;
}

.user-detail {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
}

.user-detail-field {
    display: flex;
    justify-content: center;
}

.user-detail-field > * {
    display: inline-block;
    padding: .2rem;
}

.user-detail-field--desc{
    display: inline-block;
    font-style: italic;
    min-width: 40vw;
    text-align: right;
    margin-right: 1rem;
}

.user-detail-field--val {
    display: inline-block;
    font-weight: bold;
    min-width: 40vw;
    text-align: left;
}

.list-users-link {
    display: inline-block;
    margin: 2rem;
}